.header__nav {
  padding: 0 20px;
}

.content {
  min-height: calc(100vh - 70px - 84px);
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.search-btn {
  position: absolute;
  right: 0;
  top: 0;
}

label:not(:last-child) {
  margin-right: 1rem;
}
